@import './css/select2.css';
@import './css/spectrum.css';
@import  './plugins/vectormap/jquery-jvectormap-2.0.2.css';
@import  './css/rtl//simplebar.css';
@import  './plugins/input-tags/css/tagsinput.css';
@import  './css/rtl/perfect-scrollbar.css';
@import  './css/rtl/metisMenu.min.css';
@import  './css/rtl/pace.min.css';
@import  './css/rtl/bootstrap.min.css';
@import  './css/rtl/bootstrap-extended.css';
@import  './css/rtl/app.css';
@import  './css/icons.css';
@import  './css/dark-theme.css';
@import  './css/semi-dark.css';
@import  './css/header-colors.css';


